name: Java CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-16.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v1

    - name: Set up JDK 1.11
      uses: actions/setup-java@v1
      with:
        java-version: 1.11
    
    - name: Build Maven Package
      working-directory: connector
      run: mvn -B package

    - name: Copy jars to Blob Storage
      env:
        AZURE_STORAGE_CONNECTION_STRING: ${{ secrets.AZURE_STORAGE_CONNECTION_STRING  }}
      uses: azure/CLI@v1
      with:
        azcliversion: latest
        inlineScript: |
          az storage blob upload-batch -s connector/datasource/target --pattern *-shaded.jar -d accumulo-spark-jars
          az storage blob upload-batch -s conndector/iterator/target --pattern *-shaded.jar -d accumulo-spark-jars
